html{
background: #000046; 
background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  
background: linear-gradient(to bottom, #1CB5E0, #000046); 

    background-repeat: no-repeat;
    height: 100%;
   
}

.poly{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position:absolute;
    clip-path: polygon(0% 0%, 49.97% 78.28%, 100% 100%, 0% 100%);
    background: linear-gradient(24deg, rgba(115,34,195,1) 0%, rgba(253,187,45,1) 100%);
    z-index: -1;
  
    
}

.blurElement{
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    /* blur */
    backdrop-filter: blur(10px); 
    background-color: rgb(136, 136, 238, 0.1);
}

h2{
    font-family: Arial;
    font-size: 24px;
   }


   hr{
    width: 90%;
}

/* app container */
.appContainer {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;;
   /* transform: skew(20deg);  */
   
   background: rgba(255,255,255,0.45);
   -webkit-backdrop-filter: blur(2px);
   backdrop-filter: blur(2px);
   border: 1px solid rgba(255,255,255,0.225);
   border-radius: 25px;

   box-shadow: 15px 15px 43px -5px #000000;
z-index: 50;
}


button{
    background: rgba(255,255,255,0.15);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.225);
    border-radius: 15px;
    box-shadow: 15px 15px 43px -5px #000000;
}


/* Header*/
.totals {
    display: flex;
  justify-content:space-around;
    width: 600px;
    margin-bottom: 25px;
}

#addButton {
    margin-top: 25px;
}

#totalTime{
    margin-top: 25px;
    font-size: 24px;
   }







/* Tasks*/
.tasksContainer {
    width: 600px;
    margin-top: 25px;
   }

.taskLine {
    display: flex;
  justify-content:space-between
    background-color: red;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

#textField{
    border-top: none;
    border-left: none;
    font-size: 24px;

    background: rgba(255,255,255,0.15);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.225);
    border-radius: 15px;
    box-shadow: 15px 15px 43px -5px #000000;
}


#stopButton {
    margin-left: 10px;


}

#startButton {
    margin-left: 30px;
    margin-right: 15px;
}

#textField{
    margin-right: 20px;
    
}

.author{
    display: grid;
    justify-content: center;
    font-size: 10px;
    color: whitesmoke;
}

