/* app container */
.appContainer {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;;
      
}





/* Header*/
.totals {
    display: flex;
  justify-content:space-around;
    width: 600px;
    
}

#addButton {
    margin-top: 25px;
}

#totalTime{
    margin-top: 25px;
    font-size: 24px;
}







/* Tasks*/
.tasksContainer {
    width: 600px;
    
}

.taskLine {
    display: flex;
  justify-content:space-between
    background-color: red;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

#stopButton {
    margin-left: 10px;


}

#startButton {
    margin-left: 10px;
}

#textField{
    margin-right: 20px;
}